<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

  <head>
    <title>Test</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
     </head>

  <body>
  
  hello
  
<table>
  <tr th:each="prod : ${attname}" >
    <td th:text="${prod.title}"></td>
    <td th:text="${prod.story}"></td>
    <td th:text="${prod.author}"></td>
    <td th:text="${prod.createDate}"></td>
    <td th:text="${prod.updateDate}"></td>
  </tr>
</table>
  
  </body>

</html>